<!doctype html>
<html lang="en">
  <head>
  {% PageMetadata page=page, title=title, description=description, ogImage=ogImage %}
  <link rel="stylesheet" href="https://unpkg.com/open-props"/>
  <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/>
  <link rel="stylesheet" href="/science-gossip-data/css/main.css" />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>