---
layout: default
permalink: '/tags/search/'
---
<search>
  <h1>Tag search</h1>
  <form id="searchForm">
    <label for="tagName">Search tags</label>
    <input id="tagName" type="text" name="tagName" /> <button type="submit">Go</button>
  </form>
</search>

<p id="results">
</p>

<script>
const allTags = {{ searchIndex | dump | safe }};
const form = document.getElementById('searchForm');
const textInput = document.getElementById('tagName');
const results = document.getElementById('results');
function doSearch() {
  const formData = new FormData(form);
  const searchText = formData.get('tagName');
  const url = new URL(location);
  url.searchParams.set('tagName', searchText);
  history.replaceState({ searchText }, '', `${url.pathname}${url.search}`);
  const tagLinks = allTags
    .filter(tag => tag.slug.startsWith(searchText || ' '))
    .map(tag => `<a href='../${tag.slug}/page/0/'>${tag.tagName}</a>`);
    results.innerHTML = tagLinks.join(', ');
}
form.addEventListener('submit', doSearch);
form.addEventListener('input', doSearch);
const urlSearchParams = new URLSearchParams(location.search);
const tagName = urlSearchParams.get('tagName');
textInput.value = tagName ? tagName : '';
if (tagName) {
  doSearch();
}
</script>
