---
layout: default
pagination:
  data: allSubjects
  size: 1
  alias: subject
permalink: "/groups/{{ subject.group.name }}/subjects/{{ subject.zooniverse_id}}/"
---
{% SVGSubject subject=subject %}
  {% for mark in results.reduced %}
    {% SVGMark mark=mark %}
  {% endfor %}
{% endSVGSubject %}
<p>
  {{ results.keywords }}
</p>
{{ results | dump }}