---
layout: default
pagination:
  data: allSubjects
  size: 1
  alias: subject
permalink: "/groups/{{ subject.group.name }}/subjects/{{ subject.zooniverse_id}}/"
---
{{ results | dump }}
{{ results.reduced | dump }}
<svg viewbox="0 0 {{ subject.metadata.original_size.width }} {{ subject.metadata.original_size.height }}" xmlns="http://www.w3.org/2000/svg">
  <image xlink:href="{{ subject.location.standard }}" />
  {% for mark in results.reduced %}
    {% SVGMark mark=mark %}
  {% endfor %}
</svg>