---
layout: default
pagination:
  data: allSubjects
  size: 1
  alias: subject
permalink: "/groups/{{ subject.group.name }}/subjects/{{ subject.zooniverse_id}}/"
---
{% SVGSubject subject=subject %}
  {% for mark in results.reduced %}
    {% SVGMark mark=mark %}
  {% endfor %}
{% endSVGSubject %}
<p>
  {{ results.keywords }}
</p>

<h2>Drawn marks</h2>
<dl>
{% for reduction in results.reduced %}
  <dt>{{ reduction.type }}</dt>
  <dd>{{ reduction.value | dump }}</dd>
{% endfor %}
</dl>

<h2>Metadata</h2>
{% for key, value in subject.metadata %}
  <dt>{{ key }}</dt>
  <dd>{{ value }}</dd>
{% endfor %}

<h2>Raw result</h2>
<dl>
{% for key, result in results %}
  <dt>{{ key }}</dt>
  <dd>{{ result | dump }}</dd>
{% endfor %}
</dl>
