---
title: Science Gossip Data
description: Tagged illustrations from the Zooniverse Science Gossip project.
layout: default
---
<h1>Groups</h1>
<ul>
{% for groupID, group in groups %}
  <li>
    <p><a href="./{{ group.name }}/page/0">{{ group.metadata.title }}</a></p>
  </li>
{% endfor %}
</ul>