---
title: Groups
layout: default
---
<h1>Groups</h1>
<ul>
{% for groupID, group in groups %}
  <li>
    <p><a href="/science-gossip-data/groups/{{ group.name }}/page/0">{{ group.metadata.title }}</a></p>
  </li>
{% endfor %}
</ul>