---
layout: default
pagination:
  data: paginatedSubjects
  size: 1
  alias: subjectsPage
permalink: "/groups/{{ subjectsPage.groupName }}/page/{{ subjectsPage.page }}/"
---
<ul>
{% for subject in  subjectsPage.subjects%}
  <li style="display: inline-block;">
    <a href="/science-gossip-data/groups/{{ subject.group.name }}/subjects/{{ subject.zooniverse_id }}">
      <img
        alt="Subject {{ subject.zooniverse_id }}"
        src="{{ subject.location.thumb }}"
        style="max-height: 150px;"
      />
    </a>
  </li>
{% endfor %}
</ul>