---
layout: default
pagination:
  data: paginatedSubjects
  size: 1
  alias: subjectsPage
permalink: "/groups/{{ subjectsPage.groupName }}/page/{{ subjectsPage.page }}/"
---
<nav aria-label="Page">
  <ul style="list-style-type: none;">
  {% for page in range(0, subjectsPage.pageCount) -%}
    <li style="display: inline-block; padding: .2em .5em;">
      <a href="../{{ page }}">
        {{ page }}
      </a>
    </li>
  {%- endfor %}
  </ul>
</nav>
<ul>
{% for subject in  subjectsPage.subjects%}
  <li style="display: inline-block;">
    <a href="/science-gossip-data/groups/{{ subject.group.name }}/subjects/{{ subject.zooniverse_id }}">
      {% SubjectImg subject=subject, size="thumb" %}
    </a>
  </li>
{% endfor %}
</ul>
<nav aria-label="Page">
  <ul style="list-style-type: none;">
  {% for page in range(0, subjectsPage.pageCount) -%}
    <li style="display: inline-block; padding: .2em .5em;">
      <a href="../{{ page }}">
        {{ page }}
      </a>
    </li>
  {%- endfor %}
  </ul>
</nav>