---
layout: default
pagination:
  data: paginatedSubjects
  size: 1
  alias: subjectsPage
permalink: "/groups/{{ subjectsPage.groupName }}/page/{{ subjectsPage.page }}/"
---
<h1>{{ group.metadata.title }}</h1>
<p>
{{ group.metadata.publication_details}}<br/>
{{ group.metadata.authors }}<br/>
<a href="https://www.biodiversitylibrary.org/bibliography/{{ group.metadata.title_id }}">
  BHL Title {{ group.metadata.title_id }}
</a>
</p>
<nav aria-label="Page">
  <ul>
  {% for page in range(0, subjectsPage.pageCount) -%}
    <li>
      <a href="../{{ page }}">
        {{ page }}
      </a>
    </li>
  {%- endfor %}
  </ul>
</nav>
<ul>
{% for subject in  subjectsPage.subjects%}
  <li style="display: inline-block;">
    <a href="../../subjects/{{ subject.zooniverse_id }}">
      {% SubjectImg subject=subject, size="thumb" %}
    </a>
  </li>
{% endfor %}
</ul>
<nav aria-label="Page">
  <ul>
  {% for page in range(0, subjectsPage.pageCount) -%}
    <li>
      <a href="../{{ page }}">
        {{ page }}
      </a>
    </li>
  {%- endfor %}
  </ul>
</nav>