body {
  max-inline-size: var(--size-content-3);
  margin: auto;
}

h1, h2 {
  line-height: var(--font-lineheight-2);
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-6);
  max-inline-size: var(--size-header-3);
}

p, ol, ul, dl {
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-3);
}

dl {
  display: grid;
  gap: var(--size-2);
  grid-template-columns: 1fr 2fr;

  & dt {
    margin-block-start: 0;
  }
}

nav[aria-label=Page] > ul {
  --_link-bg: white;
  --_link-text: var(--gray-7);
  display: flex;
  gap: var(--size-2);

  & > li {
    display: inline;

    & > a {
      background-color: var(--_link-bg);
      color: var(--_link-text);
      font-size: var(--font-size-fluid-0);
      padding-inline: var(--size-2);
      padding-block: var(--size-1);
      border-radius: var(--radius-3);
      text-decoration: none;
      outline-offset: 3px;
      transition:
        background-color .2s var(--ease-3),
        color .2s var(--ease-3);

      &[href]:is(.current, :hover, :focus-visible) {
        --_link-bg: var(--indigo-5);
        --_link-text: var(--indigo-0);
      }
    }
  }
}

ul.thumbnails {
  display: grid;
  gap: var(--size-1);
  grid-template-columns: repeat(10, 1fr);
  list-style-type: none;
  padding-inline-start: 0

  & > li {
    padding-inline-start: 0;
  }
}

.subject {
  display: grid;
  gap: var(--size-2);
  grid-template-columns: 1fr 1fr;

  & svg {
    inline-size: var(--size-fluid-10);
  }

  & dl {
    gap: var(--size-1);
  }
}
